.lightLargeCourseCardContainer {
    background-color: white !important;
    padding: 30px;
    border-radius: 12px;
}

.darkLargeCourseCardContainer {
    background-color: #D0D0D0 !important;
    padding: 30px;
    border-radius: 12px;
}

.lightCourseTitle {
    color: black !important;
    font-weight: bold !important;
}

.darkCourseTitle {
    color: #262626 !important;
    font-weight: bold !important;
}

.courseDiscreption {
    color: #59595A !important;
}

.viewCourseBtn {
    background-color: #1E1E1E !important;
    color: white !important;
    border-radius: 8px;
}


.largeCourseCardRow {
    margin-top: 1px !important;
    margin-bottom: 20px !important;
}

.lightLargeWeeksLevelBox {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    color: #5A5A5A;
    padding: 5px;
}

.darkLargeWeeksLevelBox {
    background-color: #656567;
    border-radius: 8px;
    border: 1px solid #656567;
    color: #CACACA;
    padding: 5px;
}

.lightLargeVendor {
    color: black;
}

.darkLargeVendor {
    color: #656567;
}

.curriculumContainer {
    margin-top: 20px;
}

.lightHeader {
    color: #262626;
    background-color: #D0D0D0;
    font-weight: bold !important;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.darkHeader {
    color: #FAFAFA;
    font-weight: bold !important;
    background-color: #656567;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lightModulesContainer {
    border: 1px solid #F1F1F3;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.darkModulesContainer {
    border: 1px solid #656567;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.modulesNumber {
    color: #262626;
    font-weight: bold !important;
}

.modulesName {
    color: #333333;
}

.imgContainer {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgContainer:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}