.lightSmallCourseCard {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    text-align: left;
}

.darkSmallCourseCard {
    background-color: #D0D0D0;
    border-radius: 12px;
    padding: 30px;
    text-align: left;
}

.courseImgBox {
    width: 100%;
    border-radius: 8px;
}

.cardRow {
    margin-top: 1px !important;
    margin-bottom: 20px !important;
}

.lightWeeksLevelBox {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    color: #5A5A5A;
    padding: 5px;
}

.darkWeeksLevelBox {
    background-color: #656567;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    color: #CACACA;
    padding: 5px;
}

.lightVendor {
    color: black;
}

.darkVendor {
    color: #656567;
}

.courseTitle {
    color: #262626;
}

.courseDescription {
    color: #575757;
}

.lightExploreCourseBtn {
    background-color: #D0D0D0 !important;
    color: #262626 !important;
    width: 100%;
    margin-top: 30px !important;
}

.darkExploreCourseBtn {
    background-color: #656567 !important;
    color: #D0D0D0 !important;
    width: 100%;
    margin-top: 30px !important;
}