.lightBenefitsCard {
    background-color: white;
    padding: 40px;
    text-align: left;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lightBenefitsCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.darkBenefitsCard {
    background-color: #D0D0D0;
    padding: 40px;
    text-align: left;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.darkBenefitsCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.cardTitle {
    text-align: right;
}

.benefitsCardText {
    color: #262626;
    font-weight: bold !important;
}

.benefitsCardSubText {
    color: #454545;
}

.benefitsCardBtnBox {
    text-align: right;
    margin-left: auto;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    background-color: #262626;
    padding: 15px;
    width: fit-content;
    border-radius: 8px;
    display: flex;
}