/* @font-face {
    font-family: 'BeVietnam';
    src: url('../../assets/font/BeVietnamPro-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BeVietnam';
    src: url('../../assets/font/BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'BeVietnam';
    src: url('../../assets/font/BeVietnamPro-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
  } */
 