@font-face {
  font-family: 'BeVietnam';
  src: url('./assets/font/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;

  font-family: 'BeVietnam', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family:'BeVietnam';
}
