.bodyImg {
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  object-fit: fill;
  border-radius: 12px;
  border: 10px solid white !important;
}

.lightLesonsCard {
  background-color: white;
  padding: 20px;
  text-align: left;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lightLesonsCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.darkLesonsCard {
  background-color: #d0d0d0;
  padding: 20px;
  text-align: left;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.darkLesonsCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.modulesCardText {
  color: #262626;
  font-weight: bold !important;
}

.moduleTitle {
  margin-bottom: 30px !important;
}

.modulesNumber {
  text-align: right;
}

.lessonsContainer {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #e6e6e8 !important;
}

.lightLessonsContainer.clicked {
  border: 2px solid #e8a710 !important;
}

.darkLessonsContainer.clicked {
  border: 2px solid black !important;
}

.lessonTime {
  background-color: #f7f7f8 !important;
  color: #59595a !important;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.lightLessonTime.clicked {
  background-color: #e8a710 !important;
  color: #fff !important;
}

.darkLessonTime.clicked {
  background-color: black !important;
  color: #fff !important;
}
